.Header {
    position: fixed;
    top: 28.5px; 
    left: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(232, 232, 232);

    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
}

/* Logo */
.Header-logo {
    font-weight: bold;
    font-size: 1.2rem;
}


.Header-search {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Contenedor de iconos a la derecha */
.Header-buttons {
    display: flex;
    gap: 2rem;
     margin-right: 60px;
}


.Header-button {
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.Header-button:hover {
    color: #555;
    transform: scale(1.1);
}
