
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-right: 330px;

}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  border: none;
  color: #696868;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 24em;
  transition: all ease-in-out .3s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #070707;
}

.search__input:focus + .search__button {
  background-color: #867373;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}